<div class="navbar">
  <div class="logo">
    <span>Logo</span>
    <button mat-mini-fab class="toggle-button" (click)="toggleMenu()">
      &#9776;
    </button>
  </div>
  <div class="menu" [ngClass]="{ activeMenu: isMenuVisible }">
    <ul>
      <li routerLink="/blog" routerLinkActive="active"><a>Blog</a></li>
      <li routerLink="/portfolio" routerLinkActive="active">
        <a>Portfolio</a>
      </li>
      <li routerLink="/about" routerLinkActive="active"><a>About</a></li>
      <li routerLink="/contact" routerLinkActive="active"><a>Contact</a></li>
    </ul>
  </div>
  <div class="menu" [ngClass]="{ activeMenu: isMenuVisible }">
    <ul>
      <li routerLinkActive="active" routerLink="/login"><a>Login</a></li>
      <li routerLink="/register" routerLinkActive="active"><a>Register</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <router-outlet />
</div>
