.example-card {
  max-width: 400px;
  height: 300px;
  &:hover {
    cursor: pointer;
  }
}

.example-card-footer {
  padding: 16px;
}

.logo-icon {
  font-size: 40pt !important;
  width: fit-content;
  height: fit-content;
  color: var(--text);
}
